
<!Doctype html>
<html>
 <head>
   <meta charset="utf-8">
   <title>Home Page</title>
   <link rel="icon" href="favicon.ico">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/styles.css">
 </head>
 <body>
  <div id="Heading Box">
   <h1 id="Heading">Organ Donation Management System</h1>
 </div>

<!-- Navbar -->
  <div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/css/logo.png" alt=""  height="20">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item" id="nav-logo">
          <a class="nav-link active" aria-current="page" href="#Heading Box"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/organavail">Check for Organ Availability</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logind">Login for Donor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Sign-up for Donor</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/loginad">Admin Login</a>
          </li>
      </ul>
      </div>
  </div>
</div>

<style>
  #hello.callout {
  
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  </style>
  <h3>
  <div id = "hello" class = "callout">
    
    <h1>
      Why to donate organs
    </h1>
    <br>
    <p>
      According to a survey In India every year about
      500,000 people die because of non-availability of organs, 200,000 people die due to liver disease, and 50,000 people die because of heart disease. Moreover, 150,000 people await a kidney transplant but only 5,000 get among them.
      The organ donor can play a big role in saving others’ life. The organ of the donor can be transplanted to the patient who needs it urgently.
    </p>
    <center>
      <img src="/css/1.jpg" width="500" height="400">
    </center>
    <h1>
      Facts about Organ Donation
    </h1>
    <br>
    <li>
      Anybody can be an organ donor irrespective of their age, caste, religion, community.
    </li>
    <li>
    There is no defined age for donating organs. The decision to donate organs is based on strict medical criteria, not age.
    </li>
    <li>
    Tissues such as cornea, heart valves, skin, and bone can be donated in case of natural death but vital organs such as heart, liver, kidneys, intestines, lungs, and pancreas can be donated only in the case of ‘brain death’.
    </li>
    <li>  
    Organs such as the heart, pancreas, liver, kidneys and lungs can be transplanted to those recipients whose organs are failing because it allows many recipients to return to a normal lifestyle.
    </li>
    <li>  
    Anyone younger than age 18 needs to have the agreement of a parent or guardian to be a donor.
    </li>
    <p>
      <br>
      Having a serious condition like actively spreading cancer, HIV, diabetes, kidney disease, or heart disease can prevent you from donating as a living donor.
    </p>
    <p>
      <br>
      The manual system for applying to be a donor or checking the availability of organs from
various centres takes time. This project aims to automate a part of this process.

</p>
  </div>
</h3>
  <div class="Logo Desc">

</div>


 </body>
</html>