
<!Doctype html>
<html>
 <head>
   <meta charset="utf-8">
   <title>Home Page</title>
   <link rel="icon" href="favicon.ico">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/css/styles.css">
 </head>
 <body>
  <div id="Heading Box">
   <h1 id="Heading">Organ Donation System</h1>
 </div>

<!-- Navbar -->
  <div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/css/logo.png" alt=""  height="20">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item" id="nav-logo">
          <a class="nav-link active" aria-current="page" href="#Heading Box"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/organavail">Check Organ Availability</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logind">Login for Donor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Sign-up for Donor</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/loginad">Admin Login</a>
          </li>
      </ul>
      </div>
  </div>
</div>
<br>
<br>


<div class="container">
  <div class="row">
    <div class="col-6">
<img src="/css/images_x.png">
    </div>
    <div class="col-6">
      <br>
      <br>
    <p> 
      <h5 > Ten minutes is a very short amount of time. In 10 minutes, you might be able to go
       for a short walk, clear out your email inbox, or maybe even have a quick telephone
      conversation with a friend. In fact, you’ll probably be done reading this within the
      next 10 minutes.In those same 10 minutes, someone in the US will be added to the
      transplant waiting list.
    
    </p>
    <p>
      By registering as an organ donor, you have the chance to save and improve up to
      75 people’s lives.
    </p>
    <p>
      Becoming An Organ Donor Is More Than Just Checking A Box When You Renew
      Your Driver’s License — It’s Making The Decision That You Want To Potentially Save
      Someone’s Life.
      </p>
    </h5>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>

    <div class="row">
      <div class="col-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h5>
  <p>The Division of Transplantation (DoT) is within the Department of Health and Human Services, Health Resources and Services Administration's Healthcare Systems Bureau (HSB). DoT is the primary federal entity responsible for oversight of the nation’s organ and blood stem cell transplant systems and for initiatives to increase organ and blood stem cell donations .</p>
</h5>
      </div>
      <div class="col-6">
        <br>





     <img src="/css/about.png.png" width=50% style= "margin-left: 50px">

      </div>

    </div>

    <div class="row">
      <div class="col-6">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  <img src="/css/howitworks.png" width=50% >
      </div>
      <div class="col-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <br>
<h5>
<p>  While most organ and tissue donations occur after the donor has died, some organs (including a kidney or part of a liver or lung) and tissues can be donated while the donor is alive. There are about as many living donors every year as there are deceased donors.
  <br><br>Patients on the waiting list are registered in a national computer network. Whenever donor organs are identified, a nationwide computer program at the Organ Procurement and Transplantation Network (OPTN) exit disclaimer generates a list of potential recipients ranked by certain criteria. </p>
</h5>

      </div>

    </div>

<div class="row">
<div class="col-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
<p><b>  <h5>  Are There Age Limits For Donating Your Organs?</b> </p>
      <p>There are no age limitations on who can donate. Newborns as well as senior citizens have been organ donors.</p>
    </h5>
      <p><b> <h5> Can I register as an organ donor?</b> </p>
      <p>  Anyone over the age of 18 is eligible to sign up, and in many states, people younger than 18 can register as well. </p>
      <p><b>  How are donated organs distributed?</b> </p>
    </h5>
      <p> <h5>  Organs are matched to patients based on a number of factors, including blood and tissue typing, medical need, time on the waiting list, and geographical location. </p>
      </h5>
      </div>
      <div class="col-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
  <img src="/css/faq.png" width=50%    style="margin-left: 100px;">

      </div>

    </div>

    <div class="row">
      <div class="col-6">

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    <img src="/css/contact.png" width=50% >
      </div>
      <div class="col-6">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <br>
    <h3> Contact us </h3>
    <h5>
    <p>  You Can Help Us Raise Awareness About The Importance Of Organ, Eye, And Tissue Donation And Help Us Build A Donation-Friendly America.</p>
    
    <p> Contact : 7839030302 </p>
  </p>   Email : organdonationcs254@gmail.com </p>
</h5>
 </p>

      </div>

    </div>

</div>
 </body>
</html>