#Heading {
  text-align:center;
  margin-top:0;
  margin-left: 0;
  margin-right: 0;
  background-color: #26e080;
  margin-bottom:0;
  height: 60px;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #99ff99;
}

select {
  margin-top:8px
}

#topsies
{text-align:center;

}

#Boxy
{
margin: auto;
border-radius: 25px;
background-color: #187329;
}
.form{
  padding: 5px;
}

.det{
  font-size: 15px;
  background-color: black;
  color: lavenderblush;
  text-align: center;
  border: 1px solid black;
  border-collapse: inherit;
  width : 30%;
  margin: auto;
  border-spacing: 5px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 10px;
  padding: 5px;
}
.err{
  color: red;
  font-size: 15px;
}
.suc{
  color: deepskyblue;
  font-size: 15px;
}