#Heading {
  text-align:center;
  margin-top:0;
  margin-left: 0;
  margin-right: 0;
  background-color: #26e080;
  margin-bottom:0;
  height: 60px;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #99ff99;
}